/* regole generali  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header  */
header{
    height: 100px;
    width: 100%;

}

/* regole contenuto centrale  */




/* regole footer  */



/* DEBUG */