/* regole generali  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    cursor: pointer;
}

/* regole header  */
header{
    height: 80px;
    width: 100%;
    background-color: orangered;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

header, a {
    color: white;
    text-decoration: none;
}

.conteiner-header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px ;
    font-size: 15px;
    font-weight: bold;
    width: 80%;
    margin: auto;
    
}


.img-logo{
    text-align: center;
}

.img-logo img {
    width: 25%;
    line-height: 50%;
    vertical-align: middle;

}


/* regole contenuto centrale  */

.conteiner{
    padding-top: 150px;
    width: 80%;
    margin: auto;
}

.product-col{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.product-img{ 
    position: relative;
}

.seconda-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product-img:hover .seconda-img {
    opacity: 1;
    cursor: pointer;
}

.product-col img {
    width: 350px;
}

.hearts{
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: white;
    padding: 6px 6px;
}

.product-img .hearts:hover{
    color: red;
    cursor: pointer;
}

.sconto, .sosten{
    position: absolute;
    bottom: 150px;
    left: 5px;
    background-color: red;
    color: white;
    font-size: 8px;
    padding: 0px 5px;
}

.sosten{
    display: inline-block;
    position: absolute;
    left: 50px;
    background-color: green;
}

.prezzo {
    color: red;
    font-size: 15px;
    font-weight: bold ;
}

.scontato{
    color: black;
    text-decoration: line-through;
}



/* regole footer  */

footer{
    width: 100%;
    background-color: #23272a;
}

.menu-footer{
    display: flex;
    justify-content: space-between;
    color:white;
    width: 80%;
    margin: auto;
    padding: 15px 0;
}



/* DEBUG */